<h1>About Me</h1>
<p>Bio</p>
<p>Sue White is an ambitious up-and-coming programmer and a proud new Seattleite. After growing up in rural Indiana, Sue
    moved to the bustling metropolis of Iowa City to study biochemistry at the University of Iowa. She did
    biochemistry research for a couple of years, and then discovered computer science. Now it is her passion in
    life.</p>
<p>Sue aims to develop elegant and efficient software, to contribute to open source projects, and to lead women who
    are excited about technology to pursue computer science.</p>

<p>Some of my interests include:</p>
<table>
    <tr>
        <td>Making Soap</td>
        <td>Vegan Cuisine</td></tr>
    <tr>
        <td><img src="/images/soap.jpg"></td>
        <td><img src="/images/food.jpg"></td>
    </tr>
    <tr>
        <td>
            <a href="http://sueinseattle.deviantart.com/gallery/">Photography/Post-processing
            </a></td>
        <td><a href="/russian">Русский язык</a></td>
    </tr>
</table>