<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" media="screen" href="/css/blog.css"/>
  </head>

  <body>
    <p> Hello World!</p>
    <p><a href="/">Read My Blog</a></p>
  </body>

</html>