<script type="text/javascript" src="/js/analytics.js"></script>

<h1>Analytics</h1>

<canvas id="cvs">
    Canvas not supported
</canvas>

<table>
    <thead>
    <tr>
        <th id="new-ppl">New Visitors</th>
        <th id="returning">Returning Visitors</th>
        <th>Total Visitors</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td id="new"><%= @new_visitors %></td>
        <td id="return"><%= @return_visitors %></td>
        <td id="total"><%= @total_visitors %></td>
    </tr>
    </tbody>
</table>



