 <!--Captcha -->

    <h2><b>Ask Me Anything</b></h2>

<form method="post">
    <div class="captcha">
    <img src="http://captchator.com/captcha/image/8283"><br>
    </div>
    <label for="message"><span>Prove you're a human:</span></label>
    <input type="text" name="code">

    <!-- Question Field -->
    <label for="question"><span>Enter your question:</span></label>
    <input type="text" name="ask">
    <input type="submit" value="Ask!">
</form>


<div class="questions">
    <hr>
<% unless @questions.nil? %>
    <% @questions.each do |question| %>
        <ul>
            <li><%= question[:ask] %></li>
        </ul>
    <% end %>
<% end %>
</div>