<!DOCTYPE html>
<html>
<head>
    <title>Sue White's Blog</title>
    <link rel="stylesheet" media="screen" href="/css/blog.css"/>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery.timeago.js"></script>
    <script type="text/javascript" src="/js/blog.js"></script>
</head>


<body>

<h1><div class="h1text">Foo Bar</div></h1>

<!-- Sidebar -->
<div class="sidebar">
    <div class="headshot">
        <img src="/images/headshot.jpg">
    </div>
    <div class="findme"
    <h3>Find me</h3>
    <ul>
        <li><a href="https://github.com/suewhite"><img src="http://busyflow.com/static/images/github-logo.png">GitHub</a></li>
        <li><a href="https://twitter.com/SeattleRubySue"><img src="http://www.newunion.wisc.edu/images/twitter_icon.jpg">Twitter</a></li>
        <li><a href="https://www.gittip.com/suewhite"><script data-gittip-username="suewhite"src="//gttp.co/v1.js"></script></a></li>
    </ul>
    <!-- route to index <a href="#">Read More →</a> -->
</div>
</div>

<!-- End Sidebar -->

<div class="container">
    <%= yield %>
</div>

<div class="rightnavbar">
    <ul>
        <li><a href="/about"><img src="/images/about.png"></a></li>
        <li><a href="/ask"><img src="/images/ask.png"></a></li>
        <li><a href="contact"><img src="/images/contact.png"></a></li>
    </ul>
</div>

</body>

</html>