<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" media="screen" href="/css/blog.css"/>
</head>

<body>
  <p>Contact me:
  <ul>
      <li>sue@mailworks.org</li>
  </ul></p>
<p><a href="/">Read My Blog</a></p>
</body>

</html>