<!DOCTYPE html>
<html>
  <head>
    <title>Sue White's Blog</title>
      <link rel="stylesheet" media="screen" href="/css/blog.css" />
      <script type="text/javascript" src="/js/jquery.min.js"></script>
      <script type="text/javascript" src="/js/jquery.timeago.js"></script>
      <script type="text/javascript" src="/js/blog.js"></script>
  </head>

  <!-- Sidebar -->

  <aside class="large-3 columns">

      <div class="panel">
          <h5>Find me</h5>
          <p><ul>
          <li>GitHub: <a href="https://github.com/suewhite" /></li>
          <li>Twitter: <a href = "https://twitter.com/SeattleRubySue" /></li>
      </ul></p>
          <a href="#">Read More →</a>
      </div>

  </aside>

  <!-- End Sidebar -->
  <body>
  <%= yield %>
  </body>
</html>