<p><strong>Обо Мне</strong><p></p>

<p>Био</p>
<p>Сью Уайт — многообещающий программист. Из индианской глубинки она переехала в Айова Сити, чтобы изучать
    биохимию в местном университете. Два года она проработала в университетской лаборатории, но вскоре поняла, что ее
    истинная страсть — это компьютер и программирование. В настоящее время она живет и учится в Сиэттле!.</p>
<p>
    Сью хочет развивать элегантные и (efficient) программы, способствовать открытого проекта, и быть руководитель для
    женщин, которые заинтересованы в технологии.</p>

<p>Мои Интересы:</p>
<table>
    <tr>
        <td>Делать Мыло</td>
        <td>Хорошая Еда</td></tr>
    <tr>
        <td><img src="/images/soap.jpg"></td>
        <td><img src="/images/food.jpg"></td>
    </tr>
    <tr>
        <td>
            <a href="https://plus.google.com/photos/102722073523647132822/albums/5954862298397403457">фотография/Фото
            редактирование</a></td>
        <td><a href="/about">Russian Language</a></td>
    </tr>
</table>