body {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    background-image: url('http://fc07.deviantart.net/fs37/f/2008/241/3/b/Steampunk_Wallpaper_by_MyScarredHeart.jpg');
    background-repeat: repeat;
}

div.container {
    display: inline-block;
    float: left;
    background-color: #ECBB70;
    opacity: 0.8;
    margin-left: 30px;
    margin-right: auto;
    width: 50%;
    padding: 20px;
    border-top: 3px #A3A3A3 solid;
    border-left: 3px #666666 solid;
    border-right: 3px #474747 solid;
    border-bottom: 3px #333333 solid;

}

article {
    min-width: 300px;
    max-width: 700px;
    margin: 50px auto;
    padding: 0 50px;
}

div.sidebar {
    display: inline-block;
    float: left;
    width: 253px;
    border-top: 3px #A3A3A3 solid;
    border-left: 3px #666666 solid;
    border-right: 3px #474747 solid;
    border-bottom: 3px #333333 solid;
    text-align: center;
}

div.headshot {
    display: inline-block;
    padding: 1px;
}

div.findme {
    background-color: #ECBB70;
    opacity: 0.8;
    list-style-type: none;
}

div.rightnavbar {
    margin-left: 0px;
    list-style-type: none;
    display: inline-block;

}
header h1 {
    margin: 0
}

header a {
    color: #000;
    text-decoration: none;
    text-shadow: 1px 1px 2px #555;
}

header a:hover {
    text-decoration: underline;
}

header time {
    font-size: 80%;
    color: #555
}