body {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    color: white;
}

#bg {
    z-index: -1;
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
}
#bg img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
}

div.container {
    display: inline-block;
    background-color: #101215;
    opacity: 0.8;
    width: 600px;
    padding: 20px;
    border-top: 3px #A3A3A3 solid;
    border-left: 3px #666666 solid;
    border-right: 3px #474747 solid;
    border-bottom: 3px #333333 solid;
    box-shadow: 10px 10px 15px 10px black;

}

article {
    min-width: 300px;
    max-width: 700px;
    margin: 50px auto;
    padding: 0 50px;
}


div.headshot {
    display: inline-block;
    float: left;
    padding: 1px;
    border-top: 3px #A3A3A3 solid;
    border-left: 3px #666666 solid;
    border-right: 3px #474747 solid;
    border-bottom: 3px #333333 solid;
    text-align: center;
    box-shadow: 1px 1px 10px 10px black;
}

div.headshot img {
    width: 250px;
    height: 250px;
}

div.findme {
    display: inline-block;
    float: right;
    vertical-align: middle;
    background-color: #101215;
    opacity: 0.8;
    border-top: 2px #A3A3A3 solid;
    border-left: 2px #666666 solid;
    border-right: 2px #474747 solid;
    border-bottom: 2px #333333 solid;
    box-shadow: 1px 1px 8px 8px black;
}

div.findme ul{
    list-style-type: none;
}

div.navbar {
    display: inline-block;
    float: left;
    clear: left;
}

div.navbar ul {
    list-style-type: none;
}

/*CSS for Ask page*/

form {
    display: block;
    float: left;
}

label {
    display: block;
    clear: left;
    float: left;
    width: 300px;
    text-align: right;
    margin-left: auto;
}

input {
    display: block;
    line-height: 20px;
    float: left;
}

time {
    font-size: 80%;
    color: #555
}

div.captcha {
    width: 0%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

div.questions {
    display: block;
    clear: left;
    float: left;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}